body
{
    font-family: ;
    margin:0px;
    padding:0px;
    background-image: url(pexels-oruri-jacome-9482636.jpg);
    width: 100%;
    
    
}
   
.nav-bar
{
    background-color: bisque;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 250px ;
    width: 100%;  
   }

   h1, h2
   {
    display:flex ;
    justify-content: center;
    color:aliceblue;

   }

   table
   {
          
    width: 1200px;;    
    margin-left:200px;
    margin-top: 50px;

   }

   tbody
   {
    
   }

   td
   {
    font-family:'Caveat', cursive ;
    font-size: 30px;
    font-weight: 500;
   }

