body
{
    font-family: ;
    margin:0px;
    padding:0px;
    background-image: url(pexels-oruri-jacome-9482636.jpg);
    width: 100%;
    
    
}
    
.nav-bar
{
    background-color: bisque;
    display:flex;
    justify-content:space-between; 
    align-items: center;
    height: 120px ;
    width: 100%;
    
    
    
   }

.nav-bar a 
{ 
    display:flex;
    justify-content:space-around
    width: 20px;
    height: 50px;
    text-decoration:none;
    font-family: ;
    font-size: 30px; 
    
    
}


.Connexion, .Menu
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:black;
    
}
.Connexion:hover
{
    transform: scale(1.1);
}

.Menu, .Connexion {
    transition:transform 2s;
}

.Menu:hover 
{
    transform: scale(1.1);
}

.Menu > img
{
    width:40px;
    height: 40px;

} 

.logo
{
    display: flex;
    justify-items: baseline;
    height: 150px;
}

/*main*/

.main 
{
    display:flex;
    margin:30px;
}

.meal1
{
    height: 700px;
    width : 700px;
    margin: 20px;
    object-fit: contain;

}


.intro
{
    display:flex;
    margin: 30px;
    /*margin-top: 50px;
    margin-right: 50px;
    */
}

h1
{
    display:flex;
    justify-content:center;
    
}

.section
{
    display: flex;
    justify-content: center;
}

.V-logo 
{
    width: 100px;
    height:100px;
}

p
{
    display: flex;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 20px;
}

/*aside*/

.aside
{
    display: flex;
    flex-wrap: wrap;
    
}
 

.favoris
{
    display:flex;
    justify-content:center;
    height:70px;
    width: 100%;
    font-size: large;
    font-weight: 300;
    background-color: bisque;

}

.content
{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    width: 100%;
    height: 400px;
    margin-top: 70px;
    margin-bottom: 70px;
    }

    figure img
{
    display:flex;
    justify-content: space-around;
    height: 300px;
    width: 300px;
    object-fit: contain; 
    border-radius:5%;
    box-shadow:10em;
}
   
.content h3
{
    display:flex;
    justify-content: center;
    
}

a:link
{
    text-decoration: none;
}

.iframe
{
    display: flex;
    height: 300;
    width:300 ;
    margin-bottom: 100px;
}
.map
{
    display:flex;

}


.address
{
    display: flex;
    justify-content: center;
    flex-direction:center;
    width:500px;

}

.address-horaires
{
    display:flex;   
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
      
}

.address-horaires h4{
    display: flex;
    justify-content: center;
    font-size:xx-large;
    }

.site-footer
{
    display: flex;
    justify-content:space-between;
    background-color: bisque;
    height: 100px;
    width:100%;
    
 }

.site-footer .logo
{
    height:100px;
   
}

.socials
{
    display:flex;
    align-items:center; 
    height: 100px;
}


