body
{
    font-family: ;
    margin:0px;
    padding:0px;
    background-image: url(pexels-oruri-jacome-9482636.jpg);
    width: 100%;
    
    
}


    
.nav-bar
{
    background-color: bisque;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height: 120px ;
    width: 100%;  
   
    }

.nav-bar a 
{ 
    display:flex;
    width: auto;
    height: 50px;
    text-decoration:none;
    font-family: ;
    font-size: 1.5em; /*25px; */
    margin-left: 4px;
    margin-right: 4px;
    }


.Connexion, .Menu
{
    display:flex;
    align-items:center;
    color:black;
      
    
}
.Connexion:hover
{
    transform: scale(1.1);
}

.Menu, .Connexion {
    transition:transform 2s;
}

.Menu:hover 
{
    transform: scale(1.1);
}

.Menu > img
{
    width:30px;
    height: 30px;

} 

.logo
{
    display: flex;
    justify-items: baseline;
    height: 150px;
}

/*main*/

.main 
{
    display:flex;
    margin:30px;
}

.meal1
{
    height: 700px;
    width : 700px;
    margin: 20px;
    object-fit: contain;

}


.intro
{
    display:flex;
    margin: 30px;
    
}

h1
{
    display:flex;
    justify-content:center;
    
}

.section
{
    display: flex;
    justify-content: center;
}

.V-logo 
{
    display:block;
    justify-content: center;
    width: 100px;
    height:100px;
    
}

img.V-logo 
{
    display:block;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

p
{
    font-family:'Caveat', cursive;
    font-size:1.6em /*25px*/;
}

/*aside*/

.aside
{
    display: flex;
    flex-wrap: wrap;
    
}
 

.favoris
{
    display:flex;
    justify-content:center;
    height:70px;
    width: 100%;
    font-size: large;
    font-weight: 300;
    background-color: bisque;

}

.content
{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    width: 100%;
    height: 400px;
    margin-top: 70px;
    margin-bottom: 70px;
    }

    figure img
{
    display:flex;
    justify-content: space-around;
    height: 300px;
    width: 300px;
    object-fit: contain; 
    border-radius:5%;
    box-shadow:10em;
}
   
.content h3
{
    display:flex;
    justify-content: center;
    
}

a:link
{
    text-decoration: none;
}

.iframe
{
    display: flex;
    width: auto;
    margin-left:1em ;
    margin-bottom: 5em ;/*100px;*/
}
.map
{
    display:flex;

}


.address
{
    display: flex;
    justify-content: center;
    flex-direction:center;
    width:500px;

}

.address-horaires
{
    display:flex;   
    justify-content:space-evenly;
    flex-direction: column;
    margin-bottom: 30px;
    width:70%;
    min-height: auto;
}

.address-horaires h4{
    display: flex;
    justify-content: center;
    font-size:xx-large;
    margin-bottom: auto;
    }

.address-horaires h5{
    display: flex;
    justify-content: center;
    font-size:x-large;
    margin: auto;
    }


.site-footer
{
    display: flex;
    justify-content:space-between;
    background-color: bisque;
    height: 100px;
    width:100%;
    
 }

.site-footer .logo
{
    height:100px;
   
}

.socials
{
    display:flex;
    align-items:center; 
    height: 100px;
}


@media screen and (max-width: 900px) 
{

    .meal1
{
    height: 15em;
    width : 15em;
    margin: 20px;
    object-fit: contain;

}

.intro
{
    display:flex;
    justify-content: center;

    
}

p
{
    font-size:1em ;
}

.content
{  
    height: 150px;
    margin-top:10px;
    margin-bottom:10px;
 }

.section
{

    height:600px;
    display: none;
    
}

figure img
{
    height: 200px;
    width: ;
}

.iframe
{
    height:2%;
    width: 10%;
    margin-bottom:0px;
    object-fit:contain;
}

h3
{
    font-size:1em;
}

h1
{
    size-adjust:;
}

h5
{
    font-size:0.5em;
}

.V-logo
{
    width: 50px;
    height:50px;
}
}
