body
{
    
    font-family: ;
    margin:0px;
    padding:0px;
    background-image: url(pexels-oruri-jacome-9482636.jpg);
    
    
}
    
.nav-bar
{
    background-color: bisque;
    display:flex;
    justify-content:space-around; 
    align-items:center;
    height: 120px /*max-content*/ ;
    width:;
    margin:0;
    
   }

a
{
    display:flex;
    justify-content:center;
    width: 20px;
    height: 50px;
    text-decoration:none;
    font-family: ;
    font-size: 40px;
    
}

.Connexion, .Menu
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:red;
}
.Connexion:hover
{
    transform: scale(1.1);
}

.Menu, .Connexion {
    transition:transform 2s;
}

.Menu:hover 
{
    transform: scale(1.1);
}

.Menu > img
{
    width:50px;
    height: 50px;

} 

.logo
{
    display: flex;
    justify-items: baseline;
    
    height: 150px;
}

.main
{
    display: flex;
    justify-content:center;
}

.main img
{
    display:flex;
    margin:20px;
    height: 600px;
    width: 600px;

}

h2
{
    display:flex;
    justify-content: center;
}

#footer
{
    background-color: cadetblue;
}
