body
{
    /*font-family*/
    margin:0px;
    padding:0px;
    background-image: url(pexels-oruri-jacome-9482636.jpg);
    width: 100%;
    
    
}
   
.nav-bar
{
    background-color: bisque;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 250px ;
    width: 100%;  
   }

   h1, h2
   {
    display:flex ;
    justify-content: center;
    color:aliceblue;

   }

   table
   {
          
    width:1200px;
    margin-left:200px;
    margin-top: 50px;

   }

  
   td
   {
    font-family:'Caveat', cursive ;
    font-size: 30px;
    font-weight: 500;
   }

@media screen and (max-width:900px)
{

   body    
    {
       width:100%;
       margin-left: 0px;
    }

   .nav-bar
   {
      width:600px;
      justify-content: center;
   }
   img
   {
      display: flex;
     justify-content: center;
   }

   h1, h2
   {
     display: flex;
     justify-content: center;
     width:600px;
   }

   

    tbody
    {
    
     width:600px;
    }
 
  tr
 {
    
   
    width:600px;
    
 } 

table
{
    
   width:600px;
   margin-left: 0%;
   margin-right:10%;
   
}
}

/*Reservation*/
p{
   margin-top: 70px;
}

.select-bar
{
    display: flex;
    justify-content:space-between;
    width:50%;
    margin-left:200px ;
    border-bottom:1px black solid;
}

#nombre-de-couverts, #date
{
  
   width:200px;
   height:40px;
}


.time-scale
{
   display:block;
   justify-content: center;
   margin-top:50px;
}

 .time-scale input
{
   background-color: brown;
   width:100px ;
   height: 40px;
   margin:10px;
}

.midi, .soir
{
   display: flex;
   justify-content: center;
}

.time-scale p
{
   display: flex;
   justify-content: center;
}